body {
    background-image: url('background.png');
    background-size: cover;
}

form {
    display: inline-block;
    margin-left: 35%;
    margin-right: 20%;
    margin-top: 20%;
    width: auto;
    min-width: 50%;
}

input[type=text] , input[type=password] {
    width: 74%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    box-sizing: border-box;
    alignment: left;
}

input[type=submit] {
    width: 35%;
    padding: 12px 20px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    box-sizing: border-box;
    alignment: left;
}

.col-25 {
    margin-top: 2%;
    float: left;
    width: 15%;
}

.col-75 {
    float: left;
    width: 75%;
}

.col-75_submit {
    float: left;
    width: 56%;
    text-align: right;

}